@font-face {
    font-family: MHA;
    src: url("/src/fonts/Futura\ Display\ BQ\ Regular.otf") format("otf"),
         url("/src/fonts/Futura\ Display\ BQ\ Regular.woff") format("woff");
}

.heroBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(191, 191, 191, 0.8);
    color: black;
    font-size: 25px;
    padding: 12px 24px;
    border: black 2px solid;
    cursor: pointer;
    border-radius: 5px;
    font-family: "MHA";
}

.heroBannerImg {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.heroSectionContainer{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}